PORT=3000
GITHUB_TOKEN=
GITHUB_REPOSITORY=deodatusmaliti/SiaraMaina-Clan-Informatics
GITHUB_BRANCH=main

# Firebase Configuration Parameters (Web Client)
VITE_FIREBASE_API_KEY=AIzaSyCVqmSgm2sDGbgzbfMqfCJib6aWP7ivO54
VITE_FIREBASE_AUTH_DOMAIN=siaramaina-clan-informat-bf7f2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=siaramaina-clan-informat-bf7f2
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-siaramainaclanin-460807ca-5792-43ae-aa12-303da9af9152
VITE_FIREBASE_STORAGE_BUCKET=siaramaina-clan-informat-bf7f2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=900054800353
VITE_FIREBASE_APP_ID=1:900054800353:web:99a37be72c837ae6e264a0
VITE_FIREBASE_MEASUREMENT_ID=G-JNSLYC8L87
